.container{
    width: 80%;
    max-width: 500px;    
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;    
    border-radius: 10px;
    padding: 15px;
}

.titulo {
    text-align: center;
    color: #202124;
}

.container-caracteres{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.container-caracteres .caractere{
    width: 25px;
    padding: 5px;
}

.palavra{
    text-align: center;
    font-size: 18px;
    color: #202124;
    
}

.container-bt-letras{
    margin-top: 8%;
    width: 80%;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container-bt-letras .bt-letras{
    width: 40px;
    font-size: 14px;
    margin: 7px;
}

.container-bt-txt{
    margin: 30px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}