.container{
    width: 80%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: solid 2px black;
    padding: 15px; 
}

.container-caracteres{
    display: flex;
    justify-content: center;
    padding: 50px;
    margin: 50px;

    
}

.container-caracteres .caractere{
    width: 50px;
    padding-left: 50px;
    
}

.palavra{
    text-align: center;
    font-size: 18px;
}

.titulo {
    text-align: center;
}

.dive{
    padding: 50px;
    margin: 50px; 
}

.dive .textofield {
    margin: 5px;
}