.container{
    width: 80%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: solid 2px black;
    padding: 15px; 
}

.container-caracteres{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 30%;
    padding-right: 30%;
    
}

.caractere{
    width: 30px;
    margin-right: auto;
    margin-left: auto;
    white-space: nowrap;

}

.palavra{
    text-align: center;
    font-size: 18px;
}

.titulo {
    text-align: center;
}

